<p>
  <br/>
  Atentamente,
  <br/>
  Defensa Pública
  <br/>
  Dirección Nacional de Tecnología de la Información
  <br/>
  División de Proyectos e Innovaciones Tecnológicas
  <br/>
  <br/>
  <br/>
  <hr>
  <span style="font-size: 12px;">
    Agradecemos hacernos llegar cualquier comentario u observación a través de la dirección: <strong>sistemas@defensapublica.gob.ve</strong>
    <br/>
    De igual forma, si no desea seguir recibiendo este mensaje, remítase a esta misma dirección de correo.
  </span>
</p>
